* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 0px
}

button:hover {
  box-shadow: none;
  text-shadow: none;
  background: transparent;
  transition: none;
  outline: none;
  border: none;
}

window#waybar {
  background: transparent;
  color: #ffffff;
  padding: 0;
  margin: 0px ;
  margin-right: 16px;
  border-bottom: none;
  border: none;
  box-shadow: none;
  padding-bottom: 1px;
  padding-top: 1px;
}


#clock {
  background-color: #080808;
  margin-right: 10px ;
  border-radius: 15px ;
  min-width: 60px ;
}
